table {
  width: 100%;
overflow-x: auto;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.table-responsive {
  width:2000%;
}


.mat-icon {
  color: #679cec;
  border: none;
  outline: none;

}

.color-page-button {
 // background: #679cec !important;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0.9;
  border-radius: 80%;
  box-shadow: 2px 1px 26px 0px rgba(21, 21, 22, 0.35);
  width: 60px;
  height: 60px;
}
  .color-page-button:hover {
    background-color: #e0e9f6;
  }

.disabled-icon {
  opacity: 0.5; /* Cambia el valor según tu preferencia */
  pointer-events: none;
}
